*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
a:hover{
 
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{

    font-family: 'Raleway', sans-serif;


}
section{

    padding: 60px 0;
    overflow: hidden;

}
h6{ 
    color: white;
    padding-left:1000px;
    font-size: 14px;
    font-style: italic;


}

/** banner ***/
#main{
width: 100%;
height: 460vh;
background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/banner.jpg);
background-position: center;
background-size: cover;
padding: 50px;
background-attachment: fixed;
} 
#india{
    width: 100%;
    height: 400vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/tiger.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px;
    background-attachment: fixed;
} 
#threats{
    width: 100%;
    height: 380vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/threats.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px;
    background-attachment: fixed;
} 
#con{
        width: 100%;
        height: 330vh;
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/con.png);
        background-position: center;
        background-size: cover;
        padding: 50px;
        background-attachment: fixed;
} 
        
ol{
    font-family: 'Raleway', sans-serif;
    padding-left: 40px ;
    color: white;
  
}
.info{
padding-bottom: 20px;

}


 h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: whitesmoke;
    margin: 0 0 10px;
    padding-top: 20px;

 }
 .column{
 float:left;
 padding: 20px;
 width: 30%;
 




 }
 .column1{
    float:left;
    padding-right: 180px;
    width: 30%;

   }

 .row::after {
    content: "";
    clear: both;
    display: table;
  }
 .btn{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 50px;
    margin: 10px;
    border: 2px solid ;
    background-color: transparent;
    color: white;
    
}
.btn:hover{
background-color: black;


}
.banner{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px 50px ;
    letter-spacing: 2px;
}
#main.content{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 20px 50px ;
        letter-spacing: 2px;
        padding-top: 20px;
        background-color: black;
}
.info{
    font-family: 'Open Sans', sans-serif;
    color: white;
    
    font-size: 17px;


}
.heading{
    
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-top: 50px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: .5px;
    color: white; 


}
.mainh
.list{
    font-family: 'Poppins', sans-serif;
   
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;




}
li{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    
}
h3{
   font-size: 20px;
   color: white;
 padding: auto;

}
